{% extends 'base.html.twig' %}

{% block title %}Conditions generales de vente - le mauvais coin{% endblock %}

{% block body %}

    <div class="container">
        <h1>Conditions generales de vente</h1>
        <h3>Pourquoi et comment on vous arnaque</h3>
        <div class="row">
            <div class="col-12">
                aefaefaefaefaefaefaefae
            </div>
        </div>
    </div>

    {% include 'inc/footer.html.twig' %}
{% endblock %}


{% block javascript_footer %}
    <!-- coucou -->
{% endblock %}