<footer>
    <ul>
        <li><a href="{{ path('app.dash') }}">Home</a></li>
        <li><a href="{{ path('ads.display.simple', {'id': 101}) }}">Annonce n°1</a></li>
        <li><a href="{{ path('ads.display', {'id': 202, 'cat': 'voiture-luxe'}) }}">Annonce n°2</a></li>
        <li><a href="#">Mentions-légales</a></li>
    </ul>
</footer>